tests/**/*
tests
docs/**/*
docs
src/Gen/**/*
src/Gen
src/public_html/fake/**/*
src/public_html/fake
.ftpconfig
composer.lock
cover.bat
phpcs.xml
phpunit.bat
phpunit.xml
test.bat
.gitignore
.github/**/*
.github