.ftpconfig
example2.php
public_html/site/config/db_installed.php
public_html/ready.txt
public_html/site/config/r4.php
public_html/site/config/site.php
public_html/gen_r7.php
gen
public_html/site/config/site_installed.php
