<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/bootstrap.php" convertWarningsToExceptions="true" convertNoticesToExceptions="true" convertErrorsToExceptions="true" backupStaticAttributes="false" processIsolation="false" stopOnFailure="true" cacheResult="false" backupGlobals="false" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <php>
      <ini name="display_errors" value="On" />
      <ini name="display_startup_errors" value="On" />
  </php>
  <coverage>
    <include>
      <directory>src</directory>
    </include>
    <exclude>
      <directory>src/App/R7</directory>
      <directory>src/Gen</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="All">
      <directory>tests/CreateDB</directory>
      <directory>tests/Login</directory>
      <directory>tests/ForcedActions</directory>
      <file>tests/WebUI/Avatar_Test.php</file>
      <file>tests/WebUI/Banlist_Test.php</file>
      <file>tests/WebUI/Bot_Test.php</file>
      <file>tests/WebUI/Client_Test.php</file>
      <file>tests/WebUI/Config_Test.php</file>
      <file>tests/WebUI/Datatable_Test.php</file>
      <file>tests/WebUI/Notice_Test.php</file>
      <file>tests/WebUI/Objects_Test.php</file>
      <file>tests/WebUI/Outbox_Test.php</file>
      <file>tests/WebUI/Package_Test.php</file>
      <file>tests/WebUI/Reports_Test.php</file>
      <file>tests/WebUI/Reseller_Test.php</file>
      <file>tests/WebUI/Search_Test.php</file>
      <file>tests/WebUI/Server_Test.php</file>
      <file>tests/WebUI/Slconfig_Test.php</file>
      <file>tests/WebUI/Staff_Test.php</file>
      <file>tests/WebUI/Stream_Test.php</file>
      <file>tests/WebUI/Template_Test.php</file>
      <file>tests/WebUI/Textureconfig_Test.php</file>
      <file>tests/WebUI/Transactions_Test.php</file>
      <file>tests/WebUI/Tree_Test.php</file>
      <directory>tests/Etc</directory>
      <file>tests/SecondlifeAPI/Object_Test.php</file>
      <file>tests/SecondlifeAPI/Texturepack_Test.php</file>
      <file>tests/SecondlifeAPI/Buy_Test.php</file>
      <file>tests/SecondlifeAPI/Renew_Test.php</file>
      <file>tests/SecondlifeAPI/Proxyrenew_Test.php</file>
      <file>tests/SecondlifeAPI/Detailsserver_Test.php</file>
      <file>tests/SecondlifeAPI/Mailserver_Test.php</file>
      <file>tests/SecondlifeAPI/Noticeserver_Test.php</file>
      <file>tests/SecondlifeAPI/Details_Test.php</file>
      <file>tests/SecondlifeAPI/Bot_Test.php</file>
      <file>tests/SecondlifeAPI/Tree_Test.php</file>
      <file>tests/SecondlifeAPI/EventsQ_Test.php</file>
      <file>tests/SystemApi/Notecard_Test.php</file>
      <file>tests/Switchboards/MainGrid_Test.php</file>
      <file>tests/Switchboards/Sys_Test.php</file>
      <file>tests/Finals/client_test.php</file>
      <file>tests/BugsAndEnhancements/Issue36_test.php</file>
      <file>tests/BugsAndEnhancements/Issue43_test.php</file>
      <file>tests/BugsAndEnhancements/Issue44_test.php</file>
      <file>tests/BugsAndEnhancements/Issue47_test.php</file>
      <file>tests/BugsAndEnhancements/Issue57_test.php</file>
      <file>tests/BugsAndEnhancements/Issue71_test.php</file>
      <file>tests/BugsAndEnhancements/Issue69_test.php</file>
      <file>tests/BugsAndEnhancements/Issue72_test.php</file>
      <file>tests/BugsAndEnhancements/Issue73_test.php</file>
      <file>tests/BugsAndEnhancements/Issue90_test.php</file>
      <file>tests/BugsAndEnhancements/Issue95_test.php</file>
      <file>tests/BugsAndEnhancements/Issue92_test.php</file>
    </testsuite>
  </testsuites>
</phpunit>
