<phpunit
    bootstrap="./tests/bootstrap.php"
    convertWarningsToExceptions="true"
    convertNoticesToExceptions="true"
    convertErrorsToExceptions="true"
    backupStaticAttributes="false"
    processIsolation="false"
    stopOnFailure="true"
    cacheResult="false"
    backupGlobals="false"
    colors="true"
>
  <testsuites>
        <testsuite name="All">
            <directory>tests/DBLoad</directory>
            <directory>tests/Login</directory>
            <directory>tests/ForcedActions</directory>
            <directory>tests/WebUI</directory>
            <directory>tests/Etc</directory>
            <file>tests/SecondlifeAPI/Object_Test.php</file>
            <file>tests/SecondlifeAPI/Texturepack_Test.php</file>
            <file>tests/SecondlifeAPI/Buy_Test.php</file>
            <file>tests/SecondlifeAPI/Renew_Test.php</file>
            <file>tests/SecondlifeAPI/Proxyrenew_Test.php</file>
            <file>tests/SecondlifeAPI/Detailsserver_Test.php</file>
            <file>tests/SecondlifeAPI/Mailserver_Test.php</file>
            <file>tests/SecondlifeAPI/Noticeserver_Test.php</file>
            <file>tests/SecondlifeAPI/Details_Test.php</file>
            <file>tests/SecondlifeAPI/Bot_Test.php</file>
            <file>tests/SecondlifeAPI/Tree_Test.php</file>
            <file>tests/SecondlifeAPI/EventsQ_Test.php</file>
            <file>tests/SystemApi/Notecard_Test.php</file>
            <file>tests/Switchboards/MainGrid_Test.php</file>
            <file>tests/Switchboards/Sys_Test.php</file>
            <file>tests/Switchboards/Website_Test.php</file>
            <file>tests/MediaServer/None_Test.php</file>
            <file>tests/MediaServer/Secondbot_Test.php</file>
            <file>tests/MediaServer/WhmSonic_Test.php</file>
            <file>tests/MediaServer/MediaCp_Test.php</file>
            <file>tests/MediaServer/Centova3_Test.php</file>
            <file>tests/MediaServer/Azurecast_Test.php</file>
            <file>tests/MediaServerApi/MediaServerApi_Centovacast_Test.php</file>
            <file>tests/MediaServerApi/MediaServerApi_Azurecast_Test.php</file>
            <file>tests/Finals/server_test.php</file>
            <file>tests/Finals/client_test.php</file>
            <file>tests/BugsAndEnhancements/Issue12_test.php</file>
            <file>tests/BugsAndEnhancements/Issue28_test.php</file>
            <file>tests/BugsAndEnhancements/Issue36_test.php</file>
            <file>tests/BugsAndEnhancements/Issue43_test.php</file>
            <file>tests/BugsAndEnhancements/Issue44_test.php</file>
            <file>tests/BugsAndEnhancements/Issue47_test.php</file>
            <file>tests/BugsAndEnhancements/Issue57_test.php</file>
            <file>tests/BugsAndEnhancements/Issue71_test.php</file>
            <file>tests/BugsAndEnhancements/Issue69_test.php</file>
            <file>tests/BugsAndEnhancements/Issue72_test.php</file>
            <file>tests/BugsAndEnhancements/Issue73_test.php</file>
            <file>tests/BugsAndEnhancements/Issue90_test.php</file>
            <file>tests/BugsAndEnhancements/Issue95_test.php</file>
            <file>tests/BugsAndEnhancements/Issue92_test.php</file>
        </testsuite>
  </testsuites>
  <filter>
      <whitelist>
          <directory>src</directory>
          <exclude>
              <directory>src/App/R4</directory>
              <directory>src/App/R7</directory>
              <directory>src/Gen</directory>
              <file>src/public_html/gen.php</file>
              <file>src/public_html/genr4.php</file>
              <file>src/public_html/fake/centova.php</file>
              <file>src/public_html/fake/azurecast.php</file>
          </exclude>
      </whitelist>
  </filter>
</phpunit>
